.makeStyles-containerHome-39 {
    background-image: url("../imagens/bg_3.jpg")
}

.makeStyles-home-41 {
    background-image: url("../imagens/bg_1.png");
    background-repeat: no-repeat;
    background-position: 50%;
}

@media (max-width: 1260px) 
{
  .makeStyles-drink-40 {
    position: relative !important;
    margin-top: 5%;
   }

  .makeStyles-imagem-41 {
    width: 90%;
   }
}

#pizzas {
  margin-top: 5%
}
