.makeStyles-containerHome-39 {
    background-image: url("../imagens/bg_3.jpg")
}

.makeStyles-home-41 {
    background-image: url("../imagens/bg_1.png");
    background-repeat: no-repeat;
    background-position: 50%;
}

.makeStyles-containerSobre-39 {
    background-image: url("../imagens/bg_1.jpg")
}

